<h1>Lista de Clientes</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th class="info">Nombre</th>
      <th class="info">Apellido</th>
      <th class="info">Direccion</th>
      <th class="info">Comuna</th>
      <th class="info">Telefono</th>
      <th class="info">Correo</th>
      <th class="info" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td class="success"><%= cliente.nombre %></td>
        <td class="success"><%= cliente.apellido %></td>
        <td class="success"><%= cliente.direccion %></td>
        <td class="success"><%= cliente.comuna %></td>
        <td class="success"><%= cliente.telefono %></td>
        <td class="success"><%= cliente.correo %></td>
        <td class="success"><%= link_to 'Show', cliente %></td>
        <td class="success"><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
        <td class="success"><%= link_to 'Destroy', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cliente', new_cliente_path %>
